<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
            <title>Silex Skeleton</title>
        {% endblock %}

        <link rel="stylesheet" href="/css/style.css">
        
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>